{% extends 'base.html' %} 

{% block maincontent %}
<div class="container my-2">
  <table class="table">
      <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Author</th>
            <th scope="col">Title</th>
            <th scope="col">When</th>
          </tr>
        </thead>
        <tbody>
            {% for blog in blogs %}
              <tr>
                <td class="">{{ blog.serial }}</td>
                <td><a href="/programmers/profile/{{ blog.author.id }}" class="mb-2" style="color:black;">
                  <b>{{ blog.author.username }}</b></a>
                </td>
                <td><a href="/blogs/{{ blog.id }}" class="mb-2" style="color:black;">
                  <b>{{ blog.title }}</b></td>
                <td class="">{{ blog.when|date:"M d, Y" }}</td>
              </tr>
              {% empty %}
                <tr>
                  <td colspan="7">
                    <p class="lead">No blogs written yet.</p>
                  </td>
                </tr>
              {% endfor %}
        </tbody>
  </table>
</div>
{% endblock %}
