{% extends 'base.html' %} 

{% block maincontent %}
  <div class="container my-2">
    <div class="jumbotron">
      <h1 class="display-4">{{ blog.title }}</h1>
      <p class="lead">BY <a href="/programmers/profile/{{ blog.author.id }}" style="color:black;">{{ blog.author.username|upper }}</a></p>
      <p class="lead"><i>Published on {{ blog.when|date:"F d, Y" }}</i></p>
      <hr class="my-4">
      <p class="text-justify">{{ blog.description|safe }}</p>
    </div>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/blogs" role="button">Read more</a>
    </p>
  </div>
{% endblock %}
