{% extends 'base.html' %} 

{% block maincontent %}
  <div class="container my-3">
      <div class="row my-5">
        <div class="col-8 border-bottom border-right">
          <h5 class="text-primary">
            <!-- Educational Codeforces Round 69 [Rated for Div. 2] -->
            {{ title }}
          </h5>
          <p>
            Event details goes here
          </p>
        </div>
        <div class="col-4">
          <div class="card text-center">
            <div class="card-header">
              Pay Attention
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
              <a href="#" class="btn btn-primary">Register</a>
            </div>
            <div class="card-footer text-muted">
              2 days ago
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-8 border-bottom border-right">
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus
            tempore iure, ducimus autem nulla inventore eum hic illo ad optio
            natus suscipit aut laudantium dignissimos saepe fugit est, alias
            accusantium in. Veritatis consectetur ut magni! Rerum, nihil quod
            minima perspiciatis enim eveniet ut non nisi repellendus praesentium
            saepe molestias a sunt unde corporis natus? Minus harum atque non
            unde deleniti quasi facilis necessitatibus temporibus ab cupiditate
            expedita dolore quidem debitis, numquam officiis. Quidem adipisci
            cumque ab inventore numquam vel laborum, qui provident corrupti
            ullam. Esse quas eaque rem. Eos tempora ea minus dolor dignissimos
            odio, vitae molestias, eligendi autem quia, quidem sequi voluptatem
            quo beatae a saepe delectus neque ipsa cupiditate repellendus soluta
            ut eum dolorem praesentium? Architecto quo recusandae magnam eveniet
            culpa eum quia sequi fugiat aspernatur perspiciatis! Suscipit
            pariatur architecto iusto neque at commodi quibusdam natus illum
            molestias quas minima aliquam earum adipisci porro, nihil libero.
            Tempora praesentium veritatis blanditiis necessitatibus pariatur
            harum? Quia nesciunt voluptatem officiis itaque fuga deleniti quasi
            ducimus recusandae doloremque porro blanditiis quae asperiores error
            necessitatibus repellat dicta est iste vitae sapiente, perspiciatis
            debitis. Dolorum nostrum fugiat enim autem iure tenetur temporibus
            quasi velit accusantium? Quod temporibus possimus sed expedita
            inventore sequi maiores pariatur!
          </p>
        </div>
        <div class="col-4">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
{% endblock %}
